<div class="section-wrapper">
    <div class="section about">
        <div class="title">About</div>
        Hi! I'm Armand! <strong>Full-stack developer</strong> based in <strong>the Netherlands</strong>.
        <br>
        I study Computing Science, and work on tons of passion projects. I love creating <strong>websites, front-to-back</strong>.
        I'm a <strong>quick learner</strong> always looking for excuses to learn <strong>new languages, frameworks and design patterns</strong>.
        <br><br>
        I love <strong>older technology</strong> & <strong>travelling</strong>. I want to travel the world, and probably listen to some cassettes while I'm at it.
        <br>
        I mainly work remotely, but I'm also available to work on location, wherever that might be. I'd love another excuse to travel!
    </div>

    <div class="section experience">
        <div class="title">Experience</div>
        One of my main areas of expertise is websites. I've used all kinds of (meta-) frameworks such as <strong>React, Astro, Nuxt and Vue</strong>.
        A few examples of websites I've worked on can be found <strong><a href="#projects">here</a></strong>.
        <br><br>
        <strong>I also excel at team & project management</strong>; I <strong>bring people together, manage tasks and utilise skills of team members</strong>. I have been
        managing projects and teams for years.
        <br><br>
        I've worked with many languages, including but not limited to: <strong>JavaScript / TypeScript, Java, C, C++, Rust, Python, Lua, Haskell & CSS</strong>.
        <br><br>
        And maybe most importantly: I can keep git trees clean. Call me a bonsai artist.

    </div>
</div>

<style>
.section-wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: var(--page-padding);

    max-width: 1500px;
    margin-inline: auto;

    @media (max-width: 1000px) {
        display: grid;
    }

    & .about {
        flex: 2;
    }

    & .experience {
        flex: 3;
    }

    a {
        color: inherit;
    }
}
</style>