:root {
	--col-background:   #faf6f0;
	--col-background-2: #e7dad2;
	--col-element:      #6b523e;
	--col-text:         #3d2914;
	--col-text-2:       #947d61;
	--col-text-3:       #b29c7f;

	--col-selection: var(--col-background-2);

	--col-divider: var(--col-text-3);

	--col-drop-shadow:  #00000030;
	--drop-shadow: drop-shadow(0 10px 5px var(--col-drop-shadow));
	--page-padding: 2.5rem;
	--bezier-transition: cubic-bezier(0.16, 1, 0.3, 1);
}

[color-scheme='dark'] {
	--col-background:   #1e1a16;
	--col-background-2: #3b332d;
	--col-element:      #9b7d67;
	--col-text:         #d7c4aa;
	--col-text-2:       #b2a291;
	--col-text-3:       #8f7b68;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;

	font-family: "Roboto Slab", serif; /* Default font */
}

.font-trypewriter {
	font-family: 'trypewriter', monospace !important;
}

.font-dotmatrix {
	font-family: "Doto", monospace !important;
}

.font-stamp {
	font-family: "Type right!", monospace !important;
}

@font-face {
	font-family: "Trypewriter", monospace;
	src: url("/fonts/KingthingsTrypewriter2.ttf") format("truetype");
}

@font-face {
	font-family: "Type right!";
	src: url("/fonts/type-right.type-right.ttf") format("truetype");
}

@font-face {
	font-family: "Doto";
	src: url("/fonts/Doto-VariableFont_ROND,wght.ttf") format("truetype");
	font-weight: 900;
}

@font-face {
	font-family: "Caveat";
	src: url("/fonts/Caveat-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Slab";
	src: url("/fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}


/* TODO: Bleh */
*::selection {
	background: var(--col-text);
	color: var(--col-background-2);
}
*::-moz-selection {
	background: var(--col-text);
	color: var(--col-background-2);;
}
*::-webkit-selection {
	background: var(--col-text);
	color: var(--col-background-2);;
}