---
---

<div class="paperclip">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -4 6 10" width="40pt" height="100pt"><path d="M -2192.9 8222.62 L -2193 8224.8 C -2193.2 8227.39 -2193.9 8230.54 -2194.9 8232.92 C -2196.3 8236.4 -2199.7 8240.82 -2203 8243.45 C -2208.8 8248.07 -2216.4 8250.6 -2223.4 8250.29 C -2225.8 8250.18 -2230.2 8249.1 -2232.6 8247.96 C -2238.4 8245.19 -2242.7 8240.76 -2245.6 8234.55 C -2246.3 8233.03 -2246.7 8230.78 -2259.7 8168.05 C -2272.4 8106.26 -2273 8103.02 -2273 8101.28 C -2273 8096.27 -2272.1 8092.64 -2269.9 8089.38 C -2267.1 8085.03 -2263 8082.6 -2257 8081.63 C -2247.2 8080.05 -2239.7 8084.22 -2236.2 8093.36 C -2235.3 8095.64 -2218.1 8179.68 -2218.4 8180.72 C -2218.7 8182.6 -2220.1 8184.09 -2222 8184.47 C -2223.9 8184.85 -2225.7 8184.1 -2226.9 8182.48 C -2227.4 8181.77 -2227.8 8179.75 -2236.2 8139.31 C -2244.5 8098.73 -2245 8096.85 -2245.6 8095.63 C -2247 8092.73 -2248.9 8091.19 -2251.4 8090.73 C -2252.6 8090.53 -2253.1 8090.6 -2256.2 8091.22 L -2259.6 8091.92 L -2260.9 8092.93 C -2262.9 8094.6 -2263.7 8096.8 -2263.6 8100.61 C -2263.6 8102.22 -2261.8 8110.72 -2250.3 8166.56 L -2237.1 8230.63 L -2235.9 8232.46 C -2234 8235.86 -2231.1 8238.3 -2227.8 8239.65 C -2222 8241.94 -2215.1 8240.65 -2209.3 8236.18 C -2204.1 8232.2 -2202.1 8227.35 -2202.8 8221.13 C -2202.939 8220.034 -2205.963 8204.999 -2211.438 8178.26 L -2201.974 8178.26 Z M -2260.4 8194.44 C -2260.5 8195.59 -2261.4 8197.2 -2262.4 8197.93 C -2264.2 8199.28 -2267 8199.01 -2268.6 8197.34 L -2269.4 8196.47 L -2273.19 8178.26 L -2263.533 8178.26 C -2261.271 8189.321 -2260.349 8194.112 -2260.4 8194.44 Z" id="object-0" transform="matrix(0.06060099974274635, 0, 0, -0.06060099974274635, 136.0479278564453, 495.6109313964844)"/></svg>
</div>


