---
import HeaderButtons from "../components/HeaderButtons.astro";
import Page from "../layouts/Page.astro";
import HeroSection from "../components/homepage/HeroSection.astro";
import IntroSection from "../components/homepage/IntroSection.astro";
import ProjectsSection from "../components/homepage/ProjectsSection.astro";
import WeblogSection from "../components/homepage/WeblogSection.astro";
---
<Page>
	<HeaderButtons />
	<HeroSection />

	<div class="parts">
		<IntroSection />
		<ProjectsSection />

		<WeblogSection />
		<!--<ContactSection />-->
	</div>
</Page>

<style>
::-webkit-scrollbar {
	display: none;
}

:global(.section) {
	font-family: 'Inter', sans-serif;
	font-size: 1.2rem;
	line-height: 1.6;
	color: var(--col-text-2);

	& :global(.title) {
		font-family: 'Playfair Display', serif;
		font-size: 2.5rem;
		font-weight: 700;
		color: var(--col-text);

		margin-bottom: 1rem;
	}
}

.parts {
	padding: var(--page-padding);
	overflow-x: hidden;
}
</style>