---
import HeaderButtons from "../components/HeaderButtons.astro";
import Page from "../layouts/Page.astro";
import HeroSection from "../components/homepage/HeroSection.astro";
import IntroSection from "../components/homepage/IntroSection.astro";
import ProjectsSection from "../components/homepage/ProjectsSection.astro";
import WeblogSection from "../components/homepage/WeblogSection.astro";
import Spacing from "../components/simple/Spacing.astro";

import {SITE_DESCRIPTION, SITE_TITLE} from "../consts.ts";
const background = { wearOff: true, onlyLanding: true };
---
<Page title={SITE_TITLE} description={SITE_DESCRIPTION} background={background} >
	<HeaderButtons />
	<HeroSection />

	<div class="parts">
		<IntroSection />
		<Spacing x="4em" />
		<ProjectsSection />
		<Spacing x="4em" />
		<WeblogSection />
		<!--<ContactSection />-->
	</div>
</Page>

<style>
::-webkit-scrollbar {
	display: none;
}

html {
	font-family: 'Roboto Slab', sans-serif;
}

:global(.section) {
	color: var(--col-text-2);
	font-size: 1.2rem;
	line-height: 1.6;

	& :global(.title) {
		font-family: 'Playfair Display', serif;
		font-size: 2.5rem;
		font-weight: 700;
		color: var(--col-text);

		margin-bottom: 1rem;
	}
}

.parts {
	padding: var(--page-padding);
	overflow-x: hidden;
}
</style>