---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import ShapePaperClip from '../components/shapes/ShapePaperClip.astro';
import {getPageStyle} from "../utils/random_blog_style.ts";
import Page from "./Page.astro";

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

---

<Page>
	<article>
		<div class="paper" style={ getPageStyle(description) }>
			<ShapePaperClip class="paperclip"/>
			<div class="heading">
				<a href="/#weblog" class="back-link">[x] Close</a>
				<div class="top">
					<div class="title">{ title }</div>
					<div class="date">
						Posted:  <FormattedDate date={ pubDate } /> <br>
						Updated: <FormattedDate date={ pubDate } />
					</div>
				</div>
				<div class="description">{ description }</div>
			</div>

			<slot />
		</div>
	</article>
</Page>