---
import BaseHead from "../components/BaseHead.astro";

import ThemeManager from "../components/util/ThemeManager.astro";
import Background from "../components/Background.astro";
import HeaderButtons from "../components/HeaderButtons.astro";

interface Props {
    background: { onlyLanding: boolean, wearOff: boolean },
    title: string,
    description: string,
}

const props = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={props.title} description={props.description} />
    </head>
    <body>
        <main>
            <div class="page-wrapper">
                <ThemeManager />
                <Background wearOff={ props.background.wearOff } onlyLanding={ props.background.onlyLanding } />
                <div class="page-contents">
                    <HeaderButtons all={ props.background.wearOff } />
                    <slot />
                </div>
            </div>

            <div class="overlay"></div>
        </main>
    </body>
</html>

<style>
html {
    scroll-behavior: smooth;
    background-color: var(--col-background);
}

.overlay {
    position: fixed;
    inset: 0;
    background: var(--col-background);
    z-index: 1000;

    pointer-events: none;
    opacity: 0;

    transition: opacity 0.5s var(--bezier-transition);

    &[active] {
        opacity: 50%;
        pointer-events: auto;
    }
}

.page-wrapper {
    background-color: var(--col-background);
    position: absolute;
    min-height: 100svh;
    width: 100%;

    &:after {
        content: "";
        z-index: 1000;
        inset: 0;
        position: absolute;

        background-image: url("/svg/grain.svg");
        background-size: 400px 400px;
        pointer-events: none;

        mix-blend-mode: multiply;
        opacity: 0.5;
    }
}

.page-contents {
    position: relative;
    z-index: 1;
    color: var(--col-text);
}

</style>
